<h1>Edit Adventure Log!</h1>
<form action="/adventure-logs/<%= @adventure_log.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <strong><label for="adventure_name">Adventure Name: </label></strong>
    <input type="text" name="adventure_log[adventure_name]" id="adventure_name" size="60"
      value="<%= @adventure_log.adventure_name %>">
  </p>
  <p>
    <strong><label for="character">Character: </label></strong>
    <select name="adventure_log[character]">
      <% @user.characters.order(:name).each do |character| %>
        <option value="<%=character.id%>" 
        <%= "selected" if @adventure_log.character == character %>>
        <%= character.name %></option>
      <% end %>
    </select>
  </p>
  <p>
    <strong><label for="dm_name">DM Name: </label></strong>
    <input type="text" name="adventure_log[dm_name]" id="dm_name" 
      value="<%= @adventure_log.dm_name %>">
  </p>
  <p>
    <strong><label for="dm_dci">DM DCI # (if applicable): </label></strong>
    <input type="text" name="adventure_log[dm_dci]" id="dm_dci" size="12" 
      value="<%= @adventure_log.dm_dci %>">
  </p>
  <p>
    <strong><label for="date">Date: </label></strong>
    <input type="date" name="adventure_log[date_played]" id="date" 
      value="<%= @adventure_log.date_played %>">
  </p>
  <p>
    <strong><label for="gold_change">Gold Change: </label></strong>
    <input type="text" name="adventure_log[gold_change]" id="gold_change" 
      value="<%= @adventure_log.gold_change %>">
  </p>
  <p>
    <strong>Level Up?: </strong>
    <input type="checkbox" name="adventure_log[level_up]" id="level_up" 
      value="true" <%= "checked" if @adventure_log.level_up %>>
  </p>
  <p>
    <strong><label for="downtime_change">Down Time Change(if applicable): </label></strong>
    <input type="text" name="adventure_log[downtime_change]" id="downtime_change" 
      value="<%= @adventure_log.downtime_change %>">
  </p>
  <p>
    <strong><label for="notes">Notes: </label></strong>
    <textarea name="adventure_log[notes]" id="notes" rows="10" cols="60">
      <%= @adventure_log.notes %>
    </textarea>
  </p>
  <input type="submit" value="Update Adventure Log">
</form>
<p><a href='/adventure_logs'>All Your Adventure Logs</a></p>
<p><a href='/dashboard'>Back to the Dashboard</a></p>