<h1>Edit Your Account!</h1>
<form action="/users/<%= @user.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p><strong><label for="email">Email: </label></strong>
  <input type="email" name="user[email]" id="email" value="<%= @user.email %>"></p>
  <p><strong><label for="name">Full Name: </label></strong>
  <input type="text" name="user[name]" id="name" value="<%= @user.name %>"></p>
  <p><strong><label for="password">Password: </label></strong>
  <input type="password" name="user[password]" id="password"></p>
  <p><strong><label for="dci">DCI (if you have one): </label></strong>
  <input type="text" name="user[dci]" id="dci" value="<%= @user.dci %>"></p>
  <input type="submit" value="Update Account">
</form>
<p><a href='/dashboard'>Back to the Dashboard</a></p>
<p><a href='/users/<%= @user.slug %>/delete'>Delete Your Account</a></p>