<h1>Edit <%= @character.name %></h1>
<form action="/characters/<%= @character.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <strong><label for="name">Name: </label></strong>
    <input type="text" name="character[name]" id="name" value="<%= @character.name %>">
  </p>
  <p>
    <strong><label for="character_class">Class: </label></strong>
    <input type="text" name="character[character_class]" id="character_class"
      value="<%= @character.character_class %>">
  </p>
  <p>
    <strong><label for="starting_level">Starting Level: </label></strong>
    <input type="text" name="character[starting_level]" id="starting_level" value="<%= @character.starting_level %>">
  </p>
  <p>
    <strong><label for="starting_gold">Starting Gold: </label></strong>
    <input type="text" name="character[starting_gold]" id="starting_gold" value='<%= @character.starting_gold %>'>
  </p>
  <p>
    <strong>Adventurer's League: </strong>
    <input type="checkbox" name="character[adventurers_league]" id="adventurers_league" 
      value="true" <%= "checked" if @character.adventurers_league %>>
  </p>
  <p>
    <strong><label for="starting_downtime">Starting Down Time (if applicable): </label></strong>
    <input type="text" name="character[starting_downtime]" id="starting_downtime"
      value="<%= @character.starting_downtime %>">
  </p>
  <p>
    <strong><label for="faction">Faction (if applicable): </label></strong>
    <input type="text" name="character[faction]" id="faction" 
      value="<%= @character.faction %>">
  </p>
  <input type="submit" value="Update Character">
</form>