<h1><%= @character.name %></a>
<h3>Class: <%= @character.character_class %></h3>
<h3>Level: <%= @character.level %></h3>
<h3>Total Gold Ever Gained: <%= @character.total_gold_gained %></h3>
<h3>Total Gold Ever Lost/Spent: <%= @character.total_gold_lost %></h3>
<h3>Current Gold: <%= @character.gold %></h3>
<h3>Magic Items:<h3> 
  <ul>
    <% @character.magic_items.each do |item| %>
      <li><%= item.name %> </li>
     <% end %> 
  </ul>
<h3>Total Down Time Ever Gained: <%= @character.total_downtime_gained %></h3>
<h3>Total Down Time Ever Used: <%= @character.total_downtime_lost %></h3>
<h3>Current Down Time: <%= @character.downtime %></h3>
<h3>Faction: <%= @character.faction.empty? ? "N/A" : @character.faction %></h3>
<h3>Adventurer's League: <%= @character.adventurers_league ? "Yes" : "No" %></h3>
<h3><a href='/characters/<%= @character.slug %>/adventure-logs'>View this character's adventure logs!</a></h3>
<p><a href='/characters/<%= @character.slug %>/edit'>Edit This Character</a></p>
<p><a href='/characters/<%= @character.slug %>/delete'>Delete This Character</a></p>
<p><a href='/characters'>Back to your characters</a></p>
<p><a href='/dashboard'>Back to the Dashboard</a></p>